<!DOCTYPE html>
<html lang="es">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="ISO-8859-1">
        <title>Calculadora</title>
    </head>
    <body>
        <h1>La calculadora basica e increible de Shushu</h1>
        <a href="/">Ir a la página Principal</a>

        <p>Ingrese los datos</p>
        <form method="post">
            <label for="prinum">Primer número:</label><br>
            <input type="number" id="prinum" name="prinum"><br>
            <label for="segnum">Segundo número:</label><br>
            <input type="number" id="segnum" name="segnum"><br>
            <label for="resultado">Resultado de la operación:</label><br>
            <input type="number" id="resultado" name="resultado"><br>

            <button name="suma" id="suma">Sumar</botton>
        </form>
    </body>
</html>
