$def with (numero_1, numero_2, resultado)
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="ISO-8859-1">
        <title>Calculadora</title>
    </head>
    <body>
        <h1>La calculadora basica e increible de Shushu</h1>
        <a href="/">Ir a la página Principal</a>

        <b><p>Ingrese los datos</p>
        <form method="post">
            <label for="prinum">Primer número:</label><br>
            <input type="number" id="prinum" name="prinum" value=$numero_1><br>

            <br><label for="segnum">Segundo número (No se necesita en caso de raiz cuadrada):</label><br>
            <input type="number" id="segnum" name="segnum" value=$numero_2><br>

            <br><label for="resultado">Resultado de la operación:</label><br>
            <input type="number" id="resultado" name="resultado" value=$resultado><br>

            <br><button name="operacion" id="operacion" value="suma">Suma</button>
            <button name="operacion" id="operacion" value="resta">Resta</button>
            <button name="operacion" id="operacion" value="multiplica">Multiplica</button>
            <button name="operacion" id="operacion" value="divide">Divide</button>
            <button name="operacion" id="operacion" value="modulo">Modulo</button>
            <button name="operacion" id="operacion" value="potencia">Potencia</button>
            <button name="operacion" id="operacion" value="raiz">Raiz Cuadrada</button><br>
        </form>
    </body>
</html>
